* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

html {
    background-color: #989b8f;
}

svg {
    height: 24px;
}

body {
    display: grid;
    grid-template: 1fr 6fr / 1fr 5fr;
}

header {
    grid-column: 2 / span 1;
    grid-row: 1;
    padding: 10px;
    box-shadow: 4px 4px #1992d4;
    background-color: #41423d;
    color: #d2de60;
}

#header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
}

input {
    width: 80ch;
    border: none;
    border-radius: 20px;
    background-color: #d2de60;
    padding: 6px;
    outline: none;
}

#header-top-left {
    display: flex;
    align-items: center;
}

#header-top-left svg {
    cursor: pointer;
    margin-right: 4px;
}

#header-top-left svg,
#header-top-right svg {
    fill: #d2de60; 
}

#header-top-right {
    display: flex;
    align-items: center;
    margin-right: 12px;
}

#header-top-right svg,
#header-top-right img,
#header-top-right h3 {
    margin: 0px 10px;
}

#header-top-right svg {
    cursor: pointer;
}

#header-top-right img {
    height: 35px;
    width: auto;
}

#header-bottom {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

#header-bottom-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-bottom-left img {
    height: 50px;
    width: auto;
    margin: 0px 12px;
}

#header-bottom-left p {
    font-size: 12px;
    color: #939c44;
}

#header-bottom ul {
    justify-self: flex-end;
    display: flex;
    list-style: none;
}

li {
    margin: 0px 24px;
    cursor: pointer;
}

#sidebar {
    grid-column: span 1;
    grid-row: span 2;
    background-color: #d2de60;
    color: #41423d;
    position: fixed;
    height: 100%;
    width: 16.65%;
}

.sidebar-middle {
    margin: 30px 0px;
}

.sidebar-top,
.sidebar-middle div,
.sidebar-bottom div {
    display: flex;
    align-items: center;
    margin: 8px 8px;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.sidebar-middle div:hover,
.sidebar-bottom div:hover {
    box-shadow: 4px 4px 4px #41423d;
    border-radius: 10px;
}

#sidebar div svg {
    margin: 0px 10px;
}

#sidebar div svg path {
    fill: #41423d;
}

sup {
    background-color: #41423d;
    color: #d2de60;
    font-size: 12px;
    padding: 3px 8px;
    border-radius: 20px;
    position: relative;
    bottom: 8px;
}

main {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 50% 50%;
    background-color: #989b8f;
    justify-content: center;
    align-items: center;
    gap: 18px;
    padding: 6px 12px;
}

#projects {
    grid-column: 1;
    grid-row: span 2;
    padding: 0px 20px 20px 10px;
}

#projects h4,
#announcements h4,
#trending h4 {
    margin-bottom: 12px;
    color: #41423d;
    font-size: 20px;
}

#projects-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px
}

.project-card {
    padding: 20px;
    background-color: #41423d;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 12px solid #d2de60;
    box-shadow: 8px 8px 4px #7d8076;
}

.project-card img {
    height: 150px;
    width: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: 1s ease;
    filter: grayscale(100%);
}

.project-card img:hover {
    transform: scale(1.05);
    filter: grayscale(0%);
}

a {
    text-decoration: none;
    color: #d2de60;
    font-weight: 600;
    font-size: 18px;
}

#announcements {
    grid-column: 2;
    grid-row: 1;
    margin-right: 20px;
}

#announcements div,
#trending div {
    background-color: #41423d;
    color: #989b8f;
    padding: 8px;
    border-radius: 10px;
}

#announcements div div {
    border-radius: 0px;
}

.announcement h5,
.trending-cards div h5 {
    color: #d2de60;
    cursor: pointer;
}

.announcement p {
    font-size: 14px;
}

.bottom-border {
    border-bottom: 2px solid #d2de60;
}

#trending {
    grid-column: 2;
    grid-row: 2;
    align-self: self-start;
    margin-right: 20px;
}

.trending-cards {
    display: flex;
    align-items: center;
    gap: 10px;
}

.trending-cards img {
    height: 30px;
    width: auto;
}

.trending-cards div p {
    cursor: pointer;
}

.trending-cards div p:hover {
    color: #7d8076;
}